@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#app {
    height: 100%;
    width: 100%;
}

.text-wrap-b {
    overflow-wrap: break-word;
}

.not-resizable-ta {
    resize: none;
}

.w-message-box {
    width: 496px;
}

textarea:focus, input:focus{
    outline: none;
}